.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop{
    width: 400px;
}

.button{
    width: 150px;
    height: 70px;
    font-size: 2em;
    letter-spacing: 3px;
    border: 3px solid #E0D0C6;
    background-color: transparent;
    color: #E0D0C6;
    margin-top: 40px;
    user-select: none;
    transition: box-shadow 0.25s;
}
.button:focus{
    outline: none;
}
.button:hover{
    box-shadow: 5px 3px darkgray;
}
.button:active{
    border: 5px solid darkgray;
    color: darkgray;
}
@media only screen and (max-width:480px){
    #popcat{
        width: 200px;
    }
}